<!DOCTYPE html>
<html>

<head>
    <title>yelpcamp</title>
</head>

<body>
    <h1>Welcome To YelpCamp!</h1>
    <p>Yay!!!!!</p>

    <a href="/campground">View All the CampGrounds...</a>

</body>

</html>