h1 {
    text-align: center;
}

body {
    background-color: beige;
}

.c2 {
    text-align: center;
}

form {
    text-align: center;
    margin: 2% 41%;
    margin-top: 3%;
}

.oz {
    margin-top: 3%;
}

p {
    font-weight: 700;
}